<template>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<section class="content">
    <div class="row">
        <div class="col-md-12">
          <a v-if="post.status == 'approved'" href="/blog/{{post.slug}}" target="blank"  class="btn btn-lg btn-flat btn-success" User="button" style="margin-bottom: 15px;">
            View Post
          </a>
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">User Create</h3>
                </div>
                <div class="box-body pad">
                    <div class="form-horizontal" enctype="multipart/form-data">
                        
                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Name</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="name" placeholder="name" v-model="User.name">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Email</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="email" placeholder="email" v-model="User.name">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Password</label>
                            <div class="col-sm-11">
                              <input type="password" class="form-control" id="password" placeholder="password" v-model="User.name">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Password Confirmation</label>
                            <div class="col-sm-11">
                              <input type="password_confirm" class="form-control" id="password" placeholder="password" v-model="User.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Password Confirmation</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="address" placeholder="address" v-model="User.name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="title" class="col-sm-1 control-label">Password Confirmation</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="contact" placeholder="contact" v-model="User.name">
                            </div>
                        </div>

                        <hr>
                        
                        <div class="form-group">
                             <div class="col-md-11 col-md-offset-1">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="form_control_1"> 
                                            <h4><strong>User</strong></h4>
                                        </label>
                                        <div v-for="(value, key) in user_model">
                                            <input type="checkbox" id="{{key}}" value="{{key}}" v-model="permission">
                                            <label for="checkbox1_{{key}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> {{value}} </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                         <label for="form_control_1"> 
                                            <h4><strong>User</strong></h4>
                                        </label>
                                        <div v-for="(value, key) in User_model">
                                            
                                            <input type="checkbox" id="{{key}}" value="{{key}}" v-model="permission">
                                            <label for="checkbox1_{{key}}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> {{value}} </label>
                                              
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                         <label for="form_control_1"> 
                                            <h4><strong>Doctor</strong></h4>
                                        </label>
                                        <div v-for="(value, key) in doctor_model">
                                            
                                                    <input type="checkbox" id="{{key}}" value="{{key}}" v-model="permission">
                                                    <label for="checkbox1_{{key}}">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> {{value}} </label>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                         <label for="form_control_1"> 
                                            <h4><strong>Patient</strong></h4>
                                        </label>
                                        <div v-for="(value, key) in patient_model">
                                           
                                                    <input type="checkbox" id="{{key}}" value="{{key}}" v-model="permission">
                                                    <label for="checkbox1_{{key}}">
                                                    <span></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span> {{value}} </label>
                                           
                                        </div>
                                    </div>
                                </div>     
                            </div>
                        </div>
                        <hr>
                        <button type="button" @click="storeUser" class="btn btn-lg btn-primary btn-flat pull-right">
                            Create User
                        </button>

                    </div>
                </div>
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
</section>
</template>
<script>
import { stack_bottomright, show_stack_success, show_stack_error } from '../Pnotice.js'
export default {
        data (){
            return {
               user_model : [],
               User_model : [],
               dept_model : [],
               doctor_model : [],
               patient_model : [],
               permission : [],
               User : {}
            }
        },
        ready(){
            this.$http({url : '/api/Users/permission_for_model', method : 'GET'}).then(function(result){
                console.log(result.data);
                this.$set('user_model', result.data.user_model);
                this.$set('User_model', result.data.User_model);
                this.$set('dept_model', result.data.dept_model);
                this.$set('doctor_model', result.data.doctor_model);
                this.$set('patient_model', result.data.patient_model);
            });
        },
        methods: {
            storeUser() {
                event.preventDefault();
                this.$http.post('/api/Users', { User : this.User, permission : this.permission }).then(function (response) {
                    console.log(response);
                    show_stack_success('Category saved', response)
                })
            }
        }
    }
</script>
