<template>
    <section>
        <!-- heading banner -->
        <div class="content-header heading-banner">
          <h3>New <i class="fa fa-angle-double-right"></i></h3> 
        </div>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Patients</span>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>Create</span>
                </li>
            </ul>
            <div class="page-toolbar">
                <div class="pull-right">
                    <div class="actions">
                         <a href="#" class="btn btn-circle green btn-outline btn-sm" @click="goBack">
                        <i class="fa fa-angle-left"></i> Back [esc]</a>
                         <a href="#" class="btn btn-circle green btn-outline btn-sm" @click="refresh" id="printList">
                        <i class="fa fa-refresh"></i> Refresh</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-body pad">
                       <div class="box-body pad">
                        <div class="form-horizontal" enctype="multipart/form-data">
                            <div class="col-md-7 col-xs-12" >
                               <div class="col-md-12" sstyle="border: 1px solid #cfcfcf;">
                                   <div class="form-group col-md-12">
                                       <div class="col-md-4  col-xs-12">
                                           <div class="form-group form-md-line-input form-md-floating-label">
                                               <label for="fName">First Name</label>
                                               <input class="form-control"
                                                       id="fName" 
                                                       v-model="patient.fname"
                                                       v-on:keydown.13="focusOnEnter('#mName')">
                                           </div>
                                       </div>
   
                                       <div class="col-md-3 col-xs-12 col-md-offset-1 ">
                                           <div class="form-group form-md-line-input form-md-floating-label">
                                               <label for="mlName">Mid Name</label>
                                               <input class="form-control" 
                                                       id="mName" 
                                                       v-model="patient.mname"
                                                       v-on:keydown.13="focusOnEnter('#lName')">
                                           </div>
                                       </div>
   
                                       <div class="col-md-3 col-xs-12 col-md-offset-1">
                                           <div class="form-group form-md-line-input form-md-floating-label">
                                               <label for="lName">Last Name</label>
                                               <input class="form-control" 
                                                       id="lName" 
                                                       v-model="patient.llame"
                                                       v-on:keydown.13="focusOnEnter('#gender')">
                                           </div>
                                       </div>
                                   </div>
   
                                   <div class="form-group form-md-line-input form-md-floating-label col-md-6">
                                       <label for="gender">Gender</label>
                                       <select class="form-control edited" 
                                                       id="gender" 
                                                       v-model="patient.gender"
                                                       v-on:keydown.13="focusOnEnter('#bloodGroup')"
                                                       >
                                           <option value="male" selected>Male</option>
                                           <option value="female">Female</option>
                                           <option value="other">Other</option>
                                       </select>
                                   </div>
                                   <div class="col-md-1"></div>
                                   <div class="form-group  form-md-line-input form-md-floating-label col-md-6" >
                                       <label for="bloodGroup">Blood Group</label>
                                       <select class="form-control edited" 
                                                       id="bloodGroup" 
                                                       v-model="patient.bloodGroup"
                                                       v-on:keydown.13="focusOnEnter('#age')">
                                           <option value="A" selected>A + </option>
                                           <option value="A">A -</option>
                                           <option value="O">O +</option>
                                           <option value="O">O -</option>
                                       </select>
                                   </div>
                                   <div class="clearfix"></div>
                                   
   
                                   <div class="form-group form-md-line-input form-md-floating-label col-md-6">
                                       <label for="age">Age</label>
                                       <input type="text" class="form-control" 
                                                       id="age" 
                                                       v-on:keydown.13="focusOnEnter('#occupation')"
                                                       v-model="patient.age">
                                   </div>
                                   <div class="col-md-1"></div>
                                   <div class="form-group form-md-line-input form-md-floating-label col-md-6">
                                       <label for="dob">Date of Birth</label>
                                           <input type="text" class="form-control" 
                                                       id="dob"
                                                       v-model="patient.dob" disabled>  
                                   </div>
                                   <div class="clearfix"></div>
   
   
                                   <div class="form-group form-md-line-input form-md-floating-label col-md-6">
                                       <label for="occupation">Occupation</label>
                                       <input class="form-control" 
                                                       id="occupation" 
                                                       v-model="patient.occupation"
                                                       v-on:keydown.13="focusOnEnter('#maritalStatus')">
                                   </div>
                                   <div class="col-md-1"></div>
                                   <div class="form-group form-md-line-input form-md-floating-label col-md-6">
                                       <label for="maritalStatus">Marital Status</label>
                                       <select class="form-control edited" 
                                                       id="maritalStatus" 
                                                       v-model="patient.maritalStatus"
                                                       v-on:keydown.13="focusOnEnter('#membershipId')">
                                           <option value="married" selected>Married</option>
                                           <option value="single">Single</option>
                                           <option value="other">Other</option>
                                       </select>
                                   </div>

                                   <div class="md-checkbox col-md-6 margin-bottom-20">
                                       <div class="form-group form-md-line-input form-md-floating-label" id="memberId">
                                       <label for="membershipId">Membership ID </label>
                                       <input class="form-control" 
                                                   id="membershipId" 
                                                   v-model="patient.membershipId"
                                                   v-on:keydown.13="focusOnEnter('#department')">
                                       </div>    
                                   </div>
                                    <br>

                                    <div class="col-md-12" style="border: 1px solid #cfcfcf; margin-top:15px">
                                       <div class="caption font-green" style="background: #fff; width: 165px;font-size: 1.6em; margin-top:-20px">
                                           <span class="caption-subject bold uppercase">Hospital Details</span>
                                       </div>
                                       <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="department">Department</label>
                                           <select class="form-control edited" 
                                                   id="department" 
                                                   v-model="patient.department"
                                                   v-on:keydown.13="focusOnEnter('#consultant')">
                                               <option value="OPD" selected>OPD</option>
                                               <option value="Gynaecology">Gynaecology</option>
                                               <option value="General surgery">General surgery</option>
                                               <option value="Haematology">Haematology</option>
                                           </select>
                                       </div>

        

                                       <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                          <label for="consultant">Consultant Name</label>
                                             <input type="text"
                                                   placeholder="..."
                                                   autocomplete="off"
                                                   v-model="query"
                                                   @keydown.down="down"
                                                   @keydown.up="up"
                                                   @keydown.enter="hit"
                                                   @keydown.esc="reset"
                                                   @blur="reset"
                                                   @input="update"/>

                                            <!-- the list -->
                                            <ul v-show="hasItems">
                                              <li v-for="item in items" :class="activeClass($index)" @mousedown="hit" @mousemove="setActive($index)">
                                                <span v-text="item.name"></span>
                                              </li>
                                            </ul>
                                          <!--  <input class="form-control" 
                                          id="consultant" 
                                          v-model="patient.consultantName"
                                          v-on:keydown.13="focusOnEnter('#pnumber')"> -->
                                       </div>
                                   </div>   
         
                                   <div class="clearfix"></div>
                              </div>
                              <div class="clearfix"></div>
                             
                            </div>
                            <div class="col-md-5 col-xs-12" >
                               <div class="row" style="margin-left: 0px;">
                                   <div class="col-md-12" style="border: 1px solid #cfcfcf;">
                                       <div class="caption font-green" style="background: #fff;margin-top: -17px; width: 155px;font-size: 1.6em;">
                                          <span class="caption-subject bold uppercase">Contact Details</span>
                                       </div>
   
                                       <div class="form-group col-md-6 form-md-line-input form-md-floating-label">
                                           <label for="pnumber">Phone Number</label>
                                           <input type="number" class="form-control" 
                                                   id="pnumber" 
                                                   v-model="patient.mobileNo"
                                                   v-on:keydown.13="focusOnEnter('#mnumber')">
                                       </div>
                                       <div class="col-md-1"></div>
                                       <div class="form-group col-md-6 form-md-line-input form-md-floating-label">
                                           <label for="mnumber">Mobile Number</label>
                                           <input type="number" class="form-control" 
                                                   id="mnumber"
                                                   v-model="patient.phoneNo"
                                                   v-on:keydown.13="focusOnEnter('#zone')">
                                       </div>


                                        <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="country">Country</label>
                                           <select class="form-control edited" 
                                                   id="country" 
                                                   v-model="patient.country">
                                               <option value="Nepal" selected>Nepal</option>
                                               <option value="US">US</option>
                                               <option value="Austrila">Austrila</option>
                                               <option value="Canada">Canada</option>
                                           </select>
                                        </div>
                                       
   
                                       <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="address">Zone</label>
                                           <multiselect 
                                           :selected.sync="patient.zone" 
                                           :options="zones" 
                                           :multiple="false" 
                                           label="zone"
                                           :on-change="fetchDistrict(patient.zone.id)"
                                           id="zone"> 
                                           </multiselect>
                                       </div>
                                       
                                        <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="address">District</label>
                                           <multiselect 
                                           :selected.sync="patient.district" 
                                           :options="districts" 
                                           :multiple="false"
                                           :on-change="fetchVdc(patient.district.id)"
                                           label="district" 
                                           id="district" >
                                           </multiselect>
                                       </div>

                                       <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="vdcs">Vdc/Municipality</label>
                                           <multiselect 
                                           :selected.sync="patient.vdc" 
                                           :options="vdcs"
                                           :on-change="fetchWard(patient.vdc.id)" 
                                           :multiple="false" 
                                           label="vdc" 
                                           id="vdc">
                                           </multiselect>
                                       </div>

                                       <div class="form-group col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="city">Ward No</label>
                                           <multiselect 
                                           :selected.sync="patient.ward" 
                                           :options="wards" 
                                           :multiple="false" 
                                           label="ward" 
                                           id="ward"
                                           :on-change="focusOn('#address')">
                                           </multiselect>
                                       </div>

                                       <div class="formg-roup col-md-12 form-md-line-input form-md-floating-label">
                                           <label for="city">Address</label>
                                           <multiselect 
                                           :selected.sync="patient.address" 
                                           :options="address" 
                                           :multiple="false" 
                                           label="address" 
                                           id="address"
                                           :v-on:keydown.13="focusOn('#psave')"
                                           :on-change="focusOn('#psave')"
                                           >
                                           </multiselect>
                                       </div>
                                       
                                       <div class="clearfix"></div>    
                                        
                                     <div class="clearfix"></div>
                                  </div>
                                </div>
                                <hr>
                                <button type="button" 
                                       v-on:keydown.13="storePatient" 
                                       @click="storePatient"
                                       id="psave" 
                                       class="btn btn-lg btn-primary btn-flat pull-right">
                                   Save [Alt+s]
                               </button>
                           </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <div id="patient_detail_print">
  </div>
</template>


<script>

import Multiselect from 'vue-multiselect/lib/vue-multiselect.js'
import VueTypeahead from 'vue-typeahead'
import { stack_bottomright, show_stack_success, show_stack_error, show_stack_info } from '../Pnotice.js'
export default {
        extends: VueTypeahead,
        data (){
            return {
                src: '/api/doctors',
                patient : {
                    zone : {id : ""},
                    district : {id : ""},
                    vdc : {id : ""},
                    ward : {id : ""},
                    dob : "",
                    age : ""
                },
                zones : [],
                districts : [],
                vdcs : [],
                wards : [],
                address : [],
                autofocus : true,
                p_id : ""
            }
        },
        ready(){
            //zone typeahed
            //singleTypeHead('/api/zone/auto', '#zone', 'zone');
            
            //focus first
            var that = this
            
            $(document).on('keydown', function (e) {
                if(e.which == 27){
                    that.$router.go('/patients/');    
                }
            });

            $(document).on('keydown', function (e) {
                if(e.ctrlKey && e.which == 83){
                    that.storePatient();   
                }
            });
            
            $("#fName").focus();
            this.fetchZone();
            this.fetchAddress();
        },
        components: {
            Multiselect
        },
        methods: {
            storePatient() {
                event.preventDefault();
                let self = this
                 swal({
                  title: 'Are you sure?',
                  text: "Register new patient!",
                  type: 'question',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, register!',
                  cancelButtonText: 'No, cancel!',
                  confirmButtonClass: 'btn btn-lg btn-primary btn-flat',
                  cancelButtonClass: 'btn btn-lg btn-danger btn-flat',
                  buttonsStyling: false
                }).then(function () {
                  self.$http.post('/api/patients', self.patient).then(function(response){
                    self.p_id = response.data.p_id                    
                  });
                  swal({
                      title: 'Print registration',
                      type: 'question',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes',
                      cancelButtonText: 'No',
                      confirmButtonClass: 'btn btn-lg btn-primary btn-flat',
                      cancelButtonClass: 'btn btn-lg btn-danger btn-flat',
                      buttonsStyling: false
                    }).then(function(){
                    self.$http({url: '/api/patients/detail/print/'+self.p_id, method: 'GET'}).then(function (response){
                      $("#patient_detail_print").html(response.data);
                      $("#patient_detail_print").print();
                      selt.patient = ""
                      //clear patient detail for print
                      $("#patient_detail_print").empty();
                    })
                  })
                }, function (dismiss) {
                  // dismiss can be 'cancel', 'overlay',
                  // 'close', and 'timer'
                  if (dismiss === 'cancel') {
                    swal(
                      'Cancelled',
                      'Your imaginary file is safe :)',
                      'error'
                    )
                  }
                })
            },
            refresh () {
              location.reload();
            },
            goBack(){
              this.$router.go('/patients/'); 
            },
            focusOnEnter(arg){
                $(arg).focus();
            },
            fetchZone() {
                this.$http({url: '/api/zone', method: 'GET'}).then(function (response) {
                    if(this.patient.zone !== 0){
                        this.zones = response.data.data
                    }
                })
            },
            fetchDistrict(zone_id){
                this.$http({url: '/api/district/'+zone_id, method: 'GET'}).then(function (response){
                    this.districts = response.data.data

                    if(this.districts.length !== 0){
                        $("#district").find("input").focus();
                    }
                })
            },
            fetchVdc(dis_id) {
                this.$http({url: '/api/vdc/'+dis_id, method: 'GET'}).then(function (response) {
                    this.vdcs = response.data.data

                     if(this.vdcs.length !== 0){
                        $("#vdc").find("input").focus();
                    }
                })
            },
            fetchWard(vdc_id) {
                this.$http({url: '/api/ward/'+vdc_id, method: 'GET'}).then(function (response) {
                    this.wards = response.data.data

                    if(this.wards.length !== 0){
                        $("#ward").find("input").focus();
                    }
                })
            },
            fetchAddress() {
                this.$http({url: '/api/address/', method: 'GET'}).then(function (response) {
                    this.address = response.data.data
                })
            }
        },
        watch : {
            patient : {
                handler : function(){
                    var d = new Date();
                    this.patient.dob = d.getFullYear()-this.patient.age+'-'+d.getMonth()+1+'-'+d.getDate();
                },
                deep: true
            }
        }
    }
</script>
