 <template>
  <secton>
      <!-- heading banner -->
      <div class="content-header heading-banner">
        <h3>Patient List <i class="fa fa-angle-double-right"></i></h3> 
      </div>
      <div class="page-bar">
          <ul class="page-breadcrumb">
              <li>
                  <i class="icon-home"></i>
                  <a href="index.html">Home</a>
                  <i class="fa fa-angle-right"></i>
              </li>
              <li>
                  <span>Patients</span>
              </li>
          </ul>
          <div class="page-toolbar">
              <div class="pull-right">
                   <div class="actions">
                       <a href="#" class="btn btn-circle green btn-outline btn-sm" @click="createPatient">
                      <i class="fa fa-plus"></i> New [Alt+n]</a>
                       <a href="#" class="btn btn-circle green btn-outline btn-sm" @click="refresh">
                      <i class="fa fa-refresh"></i> Refresh</a>
                       <a href="#" class="btn btn-circle green btn-outline btn-sm" id="printList">
                      <i class="fa fa-print"></i> Print</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                      <table aria-describedby="example1_info" role="grid" id="example" class="table table-bordered table-striped dataTable">
                        <thead>
                          <tr role="row">
                           <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 50px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">Id</th>
                            <th aria-label="Rendering engine: activate to sort column descending" aria-sort="ascending" style="width: 150px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting_asc">Name</th>
                            <th aria-label="Browser: activate to sort column ascending" style="width: 50px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Age</th>
                            <th aria-label="Platform(s): activate to sort column ascending" style="width: 70px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Gender</th>
                            <th aria-label="Engine version: activate to sort column ascending" style="width: 90px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Blood group
                            </th>
                            <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Department</th>
                            <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting">Doctor</th>

                            <th aria-label="CSS grade: activate to sort column ascending" style="width: 101px;" colspan="1" rowspan="1" aria-controls="example1" tabindex="0" class="sorting" id="action">Action</th>
                          </tr>
                        </thead>
                      </table>
                </div>
            </div>
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
  </secton>
</template>
<script>

export default {
    ready(){
      /*assign this scope to that, so it can be used particullary
      in call back function*/
      let that = this
      let table = $("#example").DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": "/api/patients"
        }
      });

      $(document).on('keydown', function (e) {
          if(e.altKey && e.which == 78){
              that.$router.go('/patient/create');    
          }
      });

      //print
      $("#printList").click(function(e){
        e.preventDefault();
        
        /**
         * remove action
         * edit/delete button
         */
        $(".editP").closest("td").remove();  
        $(".action").remove();  
        $("#example").print();
      });

      //fire on call back
      table.on('draw.dt', function(){
        //focus search input while first loading
        $("input[type='search']").focus();
        $(".editP").click(function(){
            that.$router.go('/patient/'+$(this).attr('id')+'/edit');     
        });
        
        /**
         * delete related row
         */
        $(".delP").click(function(){
              let self = $(this)
              that.$http({url: '/api/patients/'+$(this).attr('id'), method: 'DELETE'}).then(function (response) {
                  self.closest('tr').remove();
              })
        });
      });
    },
    methods : {
      createPatient(){
          this.$router.go('/patient/create')
      },
      refresh () {
        location.reload();
      },
    }
}
</script>
