<template>
<section class="content">
  <h1 v-if="this.categoryId = this.$route.params.hashid">Patient</h1>
  <h1 v-else>Patient</h1>
  <button v-link="{ name: 'editpatient', params: {hashid:patient.id}}" type="button" class="btn btn-lg btn-primary btn-flat" style="margin-bottom: 15px;">
    Edit Patient
  </button>
  <button type="button" @click="refresh" class="btn pull-right btn-lg btn-warning btn-flat" style="margin-bottom: 15px;">
    Refresh page
  </button>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><strong>{{patient.fname + patient.lname }}</strong></h4>
                </div>
                <div class="panel-body">
                    <ul style="list-style:none">
                        <li>Gender : <strong>{{patient.gender}}</strong></li>
                        <li>Occupation : <strong>{{patient.occupation}}</strong></li>
                        <li>Date of Birth : <strong>{{patient.dob}}</strong></li>
                        <li>Age : <strong>{{patient.age}}</strong></li>
                        <li>Blood Group : <strong>{{patient.bloodGroup}}</strong></li>
                        <li>Maritual Status : <strong>{{patient.maritalStatus}}</strong></li>
                        <li>Address : <strong>{{patient.address}}</strong></li>
                        <li>City : <strong>{{patient.city}}</strong></li>
                        <li>Country : <strong>{{patient.country}}</strong></li>
                        <li>Phone No : <strong>{{patient.phoneNo}}</strong></li>
                        <li>Mobile No : <strong>{{patient.mobileNo}}</strong></li>
                        <li>Department : <strong>{{patient.department}}</strong></li>
                        <li>Consultant Name : <strong>{{patient.consultantName}}</strong></li>
                        <li>Membership id : <strong>{{patient.membershipId}}</strong></li>
                    </ul>
                </div>
            </div>  
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
</template>

<script>
export default {
  data (){
      return {
         patient : {}
      }
  },
  ready(){
    this.fetchPatient()
  },
  methods: {
    fetchPatient() {
      let itemId = this.$route.params.hashid
      this.$http({url: '/api/patients/'+itemId, method: 'GET'}).then(function (response) {
          this.$set('patient', response.data)
      })
    }
  }
}
</script>
