<template>
<section class="content">
  <h1 v-if="this.categoryId = this.$route.params.hashid">Users</h1>
  <h1 v-else>Users</h1>
  <button type="button" @click="createUser" class="btn btn-lg btn-primary btn-flat" style="margin-bottom: 15px;">
    Create Users
  </button>
  <button type="button" @click="refresh" class="btn pull-right btn-lg btn-warning btn-flat" style="margin-bottom: 15px;">
    Refresh page
  </button>
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">All Users</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
                <th>No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact</th>
                <th width="280px">Action</th>
            </tr>
            <tr v-for="u in user">
              <td>{{u.id}}</td>
              <td class="col-md-2">{{u.name}}</td>
              <td class="col-md-2">{{u.email}}</td>
              <td class="col-md-2">{{u.address}}</td>
              <td class="col-md-2">{{u.contact}}</td>
              <td class="col-md-2">
                <div class="btn-group">
                    <button v-link="{ name: '', params: {hashid:u.id}}" type="button" class="btn btn-info">
                        Edit
                    </button>
                    <button type="button" class="btn btn-danger" @click="deleteRole(u)">
                        Delete
                    </button>
                </div>
              </td>
            </tr>
          </table>
          <div>
            <v-paginator :resource.sync="posts" :resource_url="resource_url" :options="options"></v-paginator>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
</template>

<script>
export default {
  data (){
      return {
         user : {}
      }
  },
  ready(){
      this.$http({url : '/api/users/', method : 'GET'}).then(function(result){
           this.$set('user', result.data.data);
      });
  },
  methods: {
    createUser() {
      this.$router.go('/users/create')
    },
    deleteRole (r) {
      let self = this
      swal({
        title: 'Are you sure?',
        text: 'You will not be able to recover this role!',
        type: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'No, keep it',
      }).then(function() {
        self.role.$remove(r)
        self.$http.delete('/api/Users/' + r.id, r).then(function (response) {
          swal(
            'Deleted!',
            'Your role has been deleted.',
            'success'
          );
        }, function (response){
          show_stack_error('Failed to delete role', response)
        })
      }, function(dismiss) {
        // dismiss can be 'cancel', 'overlay', 'close', 'timer'
        if (dismiss === 'cancel') {
          swal(
            'Cancelled',
            'Your role is safe :)',
            'error'
          );
        }
      });
    },
  }
}
</script>
