
.btn.btn-outline.green {
    border-color: #32c5d2;
    color: #32c5d2;
	margin :5px 2px!important;
	border-radius: 30px !important;
}

.page-bar{
	padding: 5px 10px 5px 10px!important;
	margin-bottom: 0px!important;	
}

/**
 * page heading 
 * banner
 */

.heading-banner{
	height: 90px;
	width: 100%;
	background-size : 100%;
	background-image: url('/img/slide-medical-2.jpg');
	background-repeat: no-repeat;
	background-position : 40% 20%;
}

.heading-banner>h3{
	margin: 15px 5px !important;
    background-color: #14B9D6;
    display: inline-block;
    padding: 5px 40px;
    border-radius: 50px;
    color: white;
}


