<template>
<navbar></navbar>
<div class="clearfix"> </div>
<div id="content" class="page-container">
    <sidebar></sidebar>
    <div class="page-content-wrapper">
      <div class="page-content" id="manage-vue">
          <router-view></router-view>        
      </div>
    </div>
</div> 
<!-- <div id="app">
  <div class="content-wrapper">
    Main content
    <section class="content">
      Your Page Content Here
      route outlet
      
    </section>
    /.content
  </div>
</div> -->
</template>


<script>
import Navbar from './components/layouts/Navbar.vue'
import Sidebar from './components/layouts/Sidebar.vue'



export default {
  components: {
    Navbar,
    Sidebar
  },
  replace: false
}
</script>
