<template>
  <!-- BEGIN SIDEBAR -->
  <div class="page-sidebar-wrapper">
      <!-- END SIDEBAR -->
      <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
      <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
      <div class="page-sidebar navbar-collapse collapse">
          <!-- BEGIN SIDEBAR MENU -->
          <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
          <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
          <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
          <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
          <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
          <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
          <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
               <li class="nav-item  ">
                  <a v-link="{path:'/patients'}" class="nav-link nav-toggle">
                     <i class="icon-home"></i>
                      <span class="title">Dashboard</span>
                      <span class="arrow"></span>
                  </a>
              </li>
              <li class="nav-item start active open">
                  <a v-link="{ path: '/patients' }" class="nav-link nav-toggle">
                      <i class="icon-user"></i>
                      <span class="title">Patient</span>
                      <span class="selected"></span>
                      
                  </a>
              </li>
              <li class="nav-item  ">
                  <a href="javascript:;" class="nav-link nav-toggle">
                      <i class="icon-puzzle"></i>
                      <span class="title">Sample Collection</span>
                      <span class="arrow"></span>
                  </a>
              </li>
              <li class="nav-item  ">
                  <a href="javascript:;" class="nav-link nav-toggle">
                      <i class="icon-layers"></i>
                      <span class="title">Test Result</span>
                      <span class="arrow"></span>
                  </a>
              </li>
              <li class="nav-item  ">
                  <a href="javascript:;" class="nav-link nav-toggle">
                      <i class="icon-docs"></i>
                      <span class="title">Report Verification</span>
                      <span class="arrow"></span>
                  </a>
              </li>
              <li class="nav-item  ">
                  <a href="javascript:;" class="nav-link nav-toggle">
                      <i class="icon-bar-chart"></i>
                      <span class="title">Analytical Reports</span>
                      <span class="arrow"></span>
                  </a>
              </li>
          </ul>
          <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
  </div>
  <!-- END SIDEBAR -->
</template>


<!-- <template>
  <aside class="main-sidebar">
    sidebar: style can be found in sidebar.less
    <section class="sidebar">
       Sidebar Menu
      <ul class="sidebar-menu">
        <li><a v-link="{ path: '/' }"><i class="fa fa-home"></i> <span>Home</span></a></li>
        Optionally, you can add icons to the links
        <li class="treeview">
          <a href="#">
            <i class="fa fa-list"></i> <span>Posts</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a v-link="{ path: '/posts' }"><i class="fa fa-tasks"></i>Index</a></li>
            <li><a @click="createPost" href="#"><i class="fa fa-keyboard-o"></i>Create post</a></li>
          </ul>
        </li>
        <li><a v-link="{ path: '/categories' }"><i class="fa fa-th-large"></i> <span>Categories</span></a></li>
        <li><a v-link="{ path: '/roles' }"><i class="fa fa-users"></i> <span>Roles</span></a></li>
        <li><a v-link="{ path: '/users' }"><i class="fa fa-users"></i> <span>Users</span></a></li>
        <li><a v-link="{path:'/patients'}"><i class="fa fa-file-text"></i> <span>Patient</span></a></li>
      </ul>
      /.sidebar-menu
    </section>
    /.sidebar
  </aside>
  <div class="control-sidebar-bg"></div>
</template>

<script>
import { stack_bottomright, show_stack_success, show_stack_error, show_stack_info } from '../../Pnotice.js'

export default {
  created() {
    this.fetchUser()
  },
  data () {
    return {
      user: {}
    }
  },
  computed: {
    creatingPost: function () {
      return this.$route.name === 'editpost'
    }
  },
  methods: {
    fetchUser () {
      this.$http({url: '/api/me', method: 'GET'}).then(function (response) {
        this.$set('user', response.data)
      })
    },
    createPost () {
      if( !this.creatingPost ){
        this.$http({url: '/api/posts', method: 'POST'}).then(function (response) {
          show_stack_info('Creating post...', response)
          this.$router.go('/posts/'  + response.data.hashid + '/edit')
        }, function (response){
               show_stack_error('Failed to create post!', response)
             })
      } else {
        swal('Sorry', 'Please navigate elsewhere before creating new post.', 'info')
      }
    }
  }
}
</script>

Add "scoped" attribute to limit CSS to this component only
<style scoped>
h1 {
  color: #42b983;
}
aside {
  height: 2100px;
}
.user-panel {
  cursor: pointer;
}
</style>
 -->